.input-tags-container button.dropdown-toggle{
    display: none;
}
.input-tags-container .dropdown-menu{
    width: 100%;
}
.input-tags-container .on-options{
    padding-left: 145px;
}
.input-tags-container .badged-container{
    width: 140px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    padding: 4px;
    display: none;
}
.input-tags-container .badged-container > span > span{
    overflow: hidden;
    white-space: nowrap;
    max-width: 90px;
    text-overflow: ellipsis;
}
.input-tags-container .badged-container > span{
    display: flex;
    width: 100%;
    background-color: rgb(231, 238, 240);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    white-space: nowrap;
    box-sizing: border-box;
    height: 30px;
    overflow: hidden;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 13px;
}
.input-tags-container .badged-counter:after,
.input-tags-container .badged-only-selected:after{
    content: "x";
    border-radius: 100%;
    color: rgb(255, 255, 255);
    padding: 1px;
    cursor: pointer;
    background-color: rgb(255, 85, 0);

    display: flex;
    width: 15px;
    height: 15px;
    font-size: 11px;
    justify-content: center;
    align-items: center;
}
.input-tags-container .badged-container .badged-counter{
    flex-direction: row-reverse;
}
.input-tags-container .selected{
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    padding-bottom: 15px;
    border-bottom: 1px solid var(--bs-dropdown-border-color);
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-bottom: 15px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--bs-dropdown-border-color);
    flex-wrap: wrap;
}
.input-tags-container .selected button{
    display: flex;
    width: auto;
    background-color: rgb(231, 238, 240);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    white-space: nowrap;
    box-sizing: border-box;
    height: 30px;
    overflow: hidden;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 13px;
    border: 0;
    margin: 0px !important;
}
.input-tags-container .selected button:after{
    content: "x";
    border-radius: 100%;
    color: rgb(255, 255, 255);
    padding: 1px;
    cursor: pointer;
    background-color: rgb(255, 85, 0);

    display: flex;
    width: 15px;
    height: 15px;
    font-size: 11px;
    justify-content: center;
    align-items: center;
}
.input-tags-container .only-results {
    padding-bottom: var(--bs-dropdown-item-padding-y) !important;
    margin-bottom: 0px !important;
    border: 0px !important;
}
.input-tags-container .form-tags{
    padding-right: 38px;
}
.input-tags-container .bi-search{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}